body {
	background-color: #F1F0F0;
}

.content {
	background-color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
}

.content input {
	margin-top: 5px;
}

.row{
	margin-top: 10px;
}

.row .col-sm-8 .title .spec-value {
  color: #666;
  font-size: 16px;
}

.row .col-sm-8 .title .spec-label {
  display: block;
  color: #999;
}