body {
	background-color: #F1F0F0;
}

.content {
	width: 450px;
	background-color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
}

.content input {
	margin-top: 5px;
}

.wrap-trakcs {
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
}

.wrap-trakcs .wrap-image {
	float: left;
	width: 130px;
	height: 130px;
}

.wrap-trakcs .wrap-description {
	float: right;
	margin-left: 10px;
}

.wrap-trakcs .wrap-description .title .spec-value {
  color: #666;
  font-size: 18px;
  width: 300px;
}

.wrap-trakcs .wrap-description .title .spec-label {
  display: block;
  color: #999;
}

.wrap-trakcs .wrap-description .media audio {
	display: block;
	width: 300px;
}